.footer {
    background-color: $Green;
    padding: rem(40px) rem(0px);
}

.footer__socials {
    max-width: rem(435px);
    margin: 0 auto;
    margin-bottom: rem(30px);
}

.social__list {
    &.social__list_width {
        width: 100%;
        justify-content: center;
    }
}

.social__link-footer-fb {
    width: rem(47px);
    height: rem(47px);
    background: url(../img/icon/sprite/sprite-fr.png);
    background-repeat: no-repeat;
    background-position: rem(-77px) rem(-78px);
}

.social__link-footer-tw {
    width: rem(47px);
    height: rem(47px);
    background: url(../img/icon/sprite/sprite-fr.png);
    background-repeat: no-repeat;
    background-position: rem(-10px) rem(-78px);
}

.social__link-footer-in {
    width: rem(47px);
    height: rem(47px);
    background: url(../img/icon/sprite/sprite-fr.png);
    background-repeat: no-repeat;
    background-position: rem(-77px) rem(-10px);
}

.social__link-footer-gg {
    width: rem(47px);
    height: rem(47px);
    background: url(../img/icon/sprite/sprite-fr.png);
    background-repeat: no-repeat;
    background-position: rem(-10px) rem(-10px);
}

.social__link-footer-tm {
    width: rem(47px);
    height: rem(47px);
    background: url(../img/icon/sprite/sprite-fr.png);
    background-repeat: no-repeat;
    background-position: rem(-144px) rem(-10px);
}

.social__link-footer-fb, 
.social__link-footer-tw, 
.social__link-footer-in, 
.social__link-footer-gg, 
.social__link-footer-tm {
    transition: all .3s;
    &:hover {
        transform: translateY(-10%);
    }
}

.footer__text {
    margin: 0 auto;
    width: 100%;
    max-width: rem(435px);
    text-align: center;
    font-size: rem(18px);
    color: #fff;
    font-weight: 300;
}

.up-btn {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translate(0, 0);
    font-size: 0;
    background: url(../img/icon/up-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: rem(31px);
    height: rem(20px);
    transition: all .3s;
    &:hover {
        transform: translateY(-20%);
    }
}