.rewards {
    background-color: #4b4d4f;
}

.section-title_white {
    color: #fff;
}

.section__top-line {
    position: absolute;
    height: rem(180px);
    width: 102%;
    background-color: #fff;
    transform: rotate(-3deg);
    transform-origin: 0 0;
    z-index: 2;
    left: rem(-9px);
    top: 0;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.section__bottom-line {
    position: absolute;
    height: rem(180px);
    width: 102%;
    bottom: rem(-170px);
    background-color: #fff;
    transform: rotate(-3deg);
    transform-origin: 0 0;
    z-index: 2;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.rewards__img {
    float: left;
    width: 30%;
    position: relative;
    top: rem(-75px);
    left: 0;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.rewards__pic {
    width: rem(354px);
    height: rem(357px);
}

.rewards__content {
    float: right;
    width: 67%;
    text-align: right;
    padding-top: 30%;
    padding-bottom: 30%;
    @media screen and (max-width: 480px) {
        float: none;
        text-align: left;
        width: 100%;
        padding: 20% 0;
    }
}

.rewards__descr {
    color: #fff;
    font-size: rem(14px);
    font-weight: 300;
    opacity: .9;
    margin-bottom: rem(40px);
    & p {
        margin-bottom: rem(15px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}
