.speakers {
    padding-top: rem(130px);
    @media screen and (max-width: 480px) {
        padding-top: rem(60px);
    }
}

.speakers__descr {
    margin-bottom: rem(60px);
}

.speakers__text {
    font-size: rem(14px);
    font-weight: 300;
    max-width: rem(600px);
    color: #242424;
}
