.sponsor {
    background-color: #4B4D4F;
    background: url('../img/bg/bg-sponsor.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: rem(700px);
    padding-top: rem(170px);
    @media only screen and (max-width: 480px) {
        padding-top: rem(200px);
    }
}

.sponsor__content {
    max-width: rem(630px);
    margin: 0 auto;
    text-align: center;
}

.sponsor__text {
    color: #fff;
    font-size: rem(14px);
    font-weight: 300;
    margin-bottom: rem(45px);
    & p {
        margin-bottom: rem(15px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sponsor__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(50px);
}

.sponsor-btn {
    padding: rem(16px) rem(45px);
}