.welcome__descr {
    margin-top: rem(100px);
    width: 100%;
    margin-bottom: rem(135px);
    @media only screen and (max-width: 768px) {
      margin-bottom: rem(30px);
    }
    @media screen and (max-width: 480px) {
        width: 100%;
        margin-top: rem(65px);
    }
}

.section-title {
    font-size: rem(50px);
    font-weight: 700;
}

.welcome__text {
    width: 100%;
    max-width: rem(530px);
    font-size: rem(14px);
    & p {
        margin-bottom: rem(20px);
        font-weight: 300;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include tablets() {
        width: 50%;
    }
    @media only screen and (max-width: 768px) {
        width: 100%;
        max-width: none;
    }
}
