.advantages {
    margin-bottom: rem(100px);
    @media screen and (max-width: 480px) {
        margin-bottom: rem(80px);
    }
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.advantages__item {
    width: 29%;
    @media screen and (max-width: 480px) {
        width: 100%;
        margin-bottom: rem(65px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.advantages__img {
    margin-bottom: rem(40px);
    @media screen and (max-width: 480px) {
        margin-bottom: rem(10px);
    }
}

.advantages-pic {
    display: inline-block;
    width: 100%;
    max-width: rem(198px);
}

.section-title_size {
    font-size: rem(35px);
    margin-bottom: rem(15px);
}

.advantages__text {
    font-size: rem(14px);
    font-weight: 300;
}
