.contact__msg {
    padding-top: rem(60px);
    padding-right: rem(70px);
    padding-bottom: rem(50px);
    width: 51%;
    @media only screen and (max-width: 768px) {
        width: 100%;
        padding-top: rem(15px);
        padding-right: rem(10px);
        padding-left: rem(10px);
    }
}

.form__input_width {
    width: 100%;
}

.form__message {
    height: rem(255px);
    width: 100%;
    border-radius: rem(10px);
    border: rem(1px) solid #BEBEBE;
    color: #6c6c6c;
    outline: none;
    resize: none;
    margin-bottom: rem(30px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    &:focus {
        border: rem(1px) solid #90D23D;
    }
}

.form__btn_color-width {
    width: 100%;
    background-color: #000;
    font-weight: 400;
    border: rem(1px) solid transparent;
    transition: .4s;
    &:hover {
        background-color: transparent;
        color: #000;
        border: rem(1px) solid #000;
    }
}