.stuff {
    margin-bottom: rem(160px);
    @media only screen and (max-width: 768px) {
        margin-bottom: 0;
    }
}

.stuff__row {
    background-color: #373737;
}

.stuff__row-head {
    background-color: #A3CC40;
    border-radius: rem(10px) rem(10px) rem(0px) rem(0px);
}

.stuff__row_bg-color {
    background-color: #4B4D4F;
}

.stuff__row-bottom_radius {
    border-radius: rem(0px) rem(0px) rem(10px) rem(10px);
}

.stuff__title-time, .stuff__title-text {
    color: #fff;
    font-size: rem(30px);
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding: rem(22px) 0;
    @media only screen and (max-width: 480px) {
        font-size: rem(22px);
    }
}

.stuff__title-text {
    width: 69%;
    @media screen and (max-width: 480px) {
        width: 68%;
    }
}

.stuff__title-time {
    width: 30%;
    text-align: center;
}

.stuff__item {
    padding: rem(22px) 0;
    font-size: rem(22px);
    color: #fff;
    @media only screen and (max-width: 768px) {
        font-size: rem(15px);
    }
}

.stuff__time {
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.stuff__text {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    @media only screen and (max-width: 480px) {
        width: 55%;
    }
}

.stuff__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: rem(33px);
    height: rem(34px);
    background: url(../img/icon/more-icon.png) center center no-repeat;
}

.stuff__msg {
    font-size: rem(14px);
    font-weight: 300;
    margin: rem(40px) rem(100px);
    text-align: center;
    @media screen and (max-width: 480px) {
       margin-left: 0;
       margin-right: 0;
    }
}

.hide-text {
    padding: 0px 50px 10px 30px;
    font-size: 14px;
    display: none;
    color: #fff;
    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.show-text {
    height: auto;
}
